<!DOCTYPE html>
<html>
    <header>
        <!-- 文字コードを「utf-8」にしてください -->
        <meta charset="utf-8">
        
        <!-- タイトルを「Progate」にしてください -->
        <title>面接シミュレーター</title>
        
    </header>
    <body>
        <%# <h1>タイトル</h1> %>
        <%# <button class="> %>
        <div style="text-align: center">
            <img src="/homegamen.jpg" class="maingamen">
            <p class="title">面接シミュレーター</p>
        </div> 
        <div style="text-align: center">
            <button type="button" class = "start">はじめから</button>
        </div>
    </body>
</html>