body {
  font-family: "Avenir Next";
  }

div {
  position: relative;
}

.maingamen{
  width: 512px;
  height: 512px;
}

.start{
  width: 300px;
  padding: 10px;
}

.title{
  width: 500px;
  font-size: 45px;
  color: #ffa500;
  position: absolute;
  top: 125px;
  left: 500px;
}